{% extends 'blog/base.html' %}
{% block content %}
<div class="content-section">
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Post Delete</legend>
            <h2>Are you sure want to delete the post "{{ object.title }}"</h2>
        </fieldset>
        <div class="form-group">
            <input type="submit" value="Yes, Delete" class="btn btn-outline-danger">
            <a href="{% url 'post_details' object.id %}" class="btn btn-outline-secondary">Back</a>
        </div>
    </form>
    
</div>

{% endblock %}